[submodule "roles/AnsibleShipyard.ansible-zookeeper"]
	path = roles/AnsibleShipyard.ansible-zookeeper
	url = https://github.com/AnsibleShipyard/ansible-zookeeper.git
[submodule "roles/ansible-kafka"]
	path = roles/ansible-kafka
	url = https://github.com/jaytaylor/ansible-kafka.git
[submodule "roles/kibana"]
	path = roles/kibana
	url = https://github.com/ohsu-comp-bio/ansible-role-kibana.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "roles/deimostr.graphite"]
	path = roles/deimostr.graphite
	url = https://github.com/deimosfr/ansible-graphite.git
[submodule "roles/ANXS.postgresql"]
	path = roles/ANXS.postgresql
	url = https://github.com/ANXS/postgresql.git
